.chart {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    width: 100%;
    background-color: white;
    margin: 20px 0;
    border-radius: 16px;
}
.chartButtons {
    display: grid;
    padding: 8px 10px 0;
    grid-template-columns: min-content 1fr max-content min-content;
    align-items: center;
}

.chartTitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.chartSelect {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #5F6979;
}

.chartContainer {
    width: 327px;
    height: 168px;
}

.chartIndicators {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 0.6fr min-content 1fr;
    padding: 26px 0 24px 24px;
}

.chartLabel {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #7A8A98;
    padding-left: 8px;
}