.navigation {
    display: flex;
    max-width: 375px;
    height: 64px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #F5F6FB;
    background-color: white;
}

.navigationTitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
}

.navigationImage {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.navigationImage:hover {
    cursor: pointer;
}